.animation
	&-header
		&-section
			height: 540px
		&-slide
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0

@media (min-width: 768px)
	.animation
		&-header
			&-section
				height: 918px

@media (min-width: 1200px)
	@import 'animation-header-slide-01'
