.animation-header-slide-03
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 2
	.man
		width: 525px
		height: 632px
		background: url(../images/man-slide-03.png) no-repeat 0 0
		position: absolute
		bottom: 0
		left: -525px
		animation: ease-out 23400ms 1 forwards man03Key

@keyframes man03Key
	53.42%
		left: -525px
		opacity: 0
	55.98%
		left: 22.2%
		opacity: 1
	82.05%
		left: 22.2%
		opacity: 1
	84.62%
		left: -525px
		opacity: 0
	100%
		left: -525px
		opacity: 0
