.animation-header-slide-02
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 2
	.woman
		width: 505px
		height: 584px
		background: url(../images/woman-slide-02.png) no-repeat 0 0
		position: absolute
		bottom: 0
		left: -505px
		animation: ease-out 23400ms 1 forwards woman02Key

@keyframes woman02Key
	24.79%
		opacity: 0
		left: -505px
	27.35%
		left: 19.2%
		opacity: 1
	53.42%
		left: 19.2%
		opacity: 1
	55.98%
		left: -505px
		opacity: 0
	100%
		left: -505px
		opacity: 0
