.animation-header-slide-04
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 2

@media (min-width: 768px)
	.animation-header-slide-04
		.man
			width: 348px
			height: 483px
			background: url(../images/man-slide-04.png) no-repeat 0 0
			background-size: contain
			position: absolute
			bottom: 0
			left: -348px
			animation: ease-out 23400ms 1 forwards man04Key

	@keyframes man04Key
		82.05%
			left: -348px
			opacity: 0
		84.62%
			left: 15.23%
			opacity: 1
		100%
			left: 15.23%
			opacity: 1

@media (min-width: 1200px)
	.animation-header-slide-04
		.man
			width: 452px
			height: 628px
			left: -452px
			animation: ease-out 23400ms 1 forwards man04Key
		.properties-container
			opacity: 0
			top: 214px
			left: 62.17%
			animation: ease-out 23400ms 1 forwards propertiesContainer04Key
		.property
			opacity: 0
			white-space: nowrap
			animation: ease-out 23400ms 1 forwards property04Key
			&-text
				animation: ease-out 23400ms 1 forwards propertyText04Key
		.phone-animation-slide-04
			position: absolute
			right: 12.3%
			top: -702px
			width: 374px
			height: 702px
			background: url(../images/phone-animation-slide-01.png) no-repeat 0 0
			animation: ease-out 23400ms 1 forwards phoneAnimationSlide04Key

	@keyframes phoneAnimationSlide04Key
		89.74%
			top: -702px
		92.31%
			top: 118px
		97.44%
			opacity: 1
		100%
			top: 118px
			opacity: 0

	@keyframes propertiesContainer04Key
		82.05%
			opacity: 0
		84.62%
			opacity: 1
		89.74%
			top: 214px
			left: 62.17%
		92.31%
			top: 218px
			left: 92.3%
		100%
			opacity: 1
			top: 218px
			left: 92.3%

	@keyframes property04Key
		82.05%
			opacity: 0
		84.62%
			opacity: 1
		89.74%
			max-width: 100%
		92.31%
			max-width: 50px
		97.44%
			opacity: 1
		100%
			opacity: 0
			max-width: 50px

	@keyframes propertyText04Key
		82.05%
			opacity: 0
		84.62%
			width: 100%
			opacity: 1
		89.74%
			width: 100%
			opacity: 1
		92.31%
			opacity: 0
			width: 0
		100%
			opacity: 0
			width: 0

	@keyframes man04Key
		82.05%
			left: -452px
			opacity: 0
		84.62%
			left: 23.7%
			opacity: 1
		100%
			left: 23.7%
			opacity: 1
