.btn
	transition: background-color linear 500ms, border-right-color linear 500ms, border-left-color linear 500ms, border-top-color linear 500ms, border-bottom-color linear 500ms, color linear 500ms

	&:focus,
	&:active
		box-shadow: none !important
	&:hover
		transition: background-color linear 300ms, border-right-color linear 300ms, border-left-color linear 300ms, border-top-color linear 300ms, border-bottom-color linear 300ms, color linear 300ms

	&.disabled,
	&:disabled
		opacity: 1
		background-color: #E0E0E0
		border-color: #E0E0E0
		color: $primary

	&-pink
		color: $white
		&:hover
			background-color: $pink1
			border-color: $pink1
		&:not(.disabled):not(:disabled)
			&:focus,
			&:active
				background-color: $white
				border-color: $pink
				color: $pink
				.i
					&-right-arrow
						background-image: url(../images/icon-right-arrow-pink.svg)
		.i
			&-right-arrow
				background-image: url(../images/icon-right-arrow-white.svg)

	&-light
		.i
			&-right-arrow
				background-image: url(../images/icon-right-arrow-navy.svg)
		&:hover
			background-color: #61C0FA
			border-color: #61C0FA
			color: $white

			.i
				&-right-arrow
					background-image: url(../images/icon-right-arrow-white.svg)

	&-secondary
		&:hover
			background-color: #61C0FA
			border-color: #61C0FA
			color: $white !important
			.i
				&-right-arrow
					background-image: url(../images/icon-right-arrow-white.svg)

		.i
			&-right-arrow
				background-image: url(../images/icon-right-arrow-navy.svg)
		&:not(.disabled):not(:disabled)
			&:focus,
			&:active
				background-color: $white
				border-color: $secondary
				color: $secondary !important
				.i
					&-right-arrow
						background-image: url(../images/icon-right-arrow.svg)

	&-icon
		display: inline-flex
		align-items: center

		.i
			margin-left: 8px
