footer
	nav
		a
			font-size: 17px
			line-height: 20px
			text-transform: capitalize
			text-decoration: none
			border-bottom: 2px solid transparent
			transition: border-bottom-color linear 300ms
			&:hover
				text-decoration: none
				border-bottom-color: $secondary
		p
			b
				a
					font-size: 20px
