header
	height: 47px
	position: relative
	z-index: 100
	margin-bottom: -47px
.slick-logos
	.slick-list
		overflow: hidden
	.slick-slide
		margin-bottom: 0
		div
			width: 100%
			text-align: center
			img
				height: 8px
.header
	&-logo
		display: inline-block
		width: 79px
		height: 17px
		background: url(../images/logo.svg) no-repeat 0 0
		background-size: contain
		margin-right: 40px
	&-nav
		height: 60px
		display: flex
		align-items: center
		margin: 0
		padding: 0
		a:not(.btn)
			font-family: 'moderat-light'
			color: $white
			font-size: 18px
			line-height: 24px
			&.active
				font-family: 'moderat-black'
		.btn-fixed
			display: none
		.nav
			&-item
				box-sizing: content-box
				padding-right: 32px
			&-link
				display: inline-block
				padding: 5px 0 3px 0
				border-bottom: 2px solid transparent
				transition: border-bottom-color linear 500ms
				&:hover
					border-bottom-color: $secondary
					transition: border-bottom-color linear 300ms
		.dropdown
			height: 100%
			display: flex
			align-items: center
			&:hover
				.dropdown-menu
					display: block
			&-toggle
				&:after
					display: none
			&-menu
				border-radius: 20px
				padding: 0
				min-width: 280px
				top: 58px !important
			&-item,
			a.dropdown-item
				font-size: 15px
				line-height: 18px
				font-family: 'moderat-medium'
				padding: 12px 16px
				color: $primary
				transition: color linear 500ms, background-color linear 500ms
				&:hover
					background-color: $secondary
					color: $white
					transition: color linear 300ms, background-color linear 300ms
				&:first-child
					border-radius: 18px 18px 0 0
				&:last-child
					border-radius: 0 0 18px 18px
.sm-toggle-menu
	&.position
		&-static
			box-shadow: none !important
		&-fixed
			background-color: $white
			animation: showMenu 300ms linear reverse infinite
			animation-iteration-count: 1
			.header
				&-logo
					background-image: url(../images/logo-black.svg)
				&-nav
					a
						color: $primary

					.btn
						&-static
							display: none
						&-fixed
							display: block

@keyframes showMenu
	100%
		transform: translateY(-40px)

@media (min-width: 768px)
	header
		height: 71px
		margin-bottom: -71px
	.header
		&-logo
			width: 88px
			height: 19px
			margin-right: 0
		&-nav
			a:not(.btn)
				font-size: 14px
			.nav
				&-item
					padding-right: 16px
	.slick-logos
		.slick-slide
			div
				img
					height: 26px

@media (min-width: 992px)
	header
		height: 74px
		margin-bottom: -74px
	.header
		&-logo
			width: 99px
			height: 22px
			margin-right: 22px
		&-nav
			a:not(.btn)
				font-size: 16px
			.nav
				&-item
					padding-right: 32px
@media (min-width: 1200px)
	header
		height: 84px
		margin-bottom: -84px
	.header
		&-logo
			width: 120px
			height: 26px
			margin-right: 6px
		&-nav
			a:not(.btn)
				font-size: 20px
			.nav
				&-item
					padding-right: 45px
