header
	height: 84px
	position: relative
	z-index: 10
.header
	&-logo
		display: inline-block
		width: 120px
		height: 26px
		background: url(../images/logo.svg)
		margin-right: 40px
		margin-top: -6px
	&-nav
		height: 54px
		display: flex
		align-items: center
		margin: 0
		padding: 0
		a:not(.btn)
			font-family: 'moderat-light'
			color: $white
			font-size: 18px
			line-height: 22px
			&.active
				font-family: 'moderat-bold'
		.nav
			&-item
				box-sizing: content-box
				min-width: 99px
				padding-right: 32px
			&-link
				display: inline-block
				padding: 5px 0 3px 0
				border-bottom: 2px solid transparent
				transition: border-bottom-color linear 500ms
				&:hover
					border-bottom-color: $secondary
					transition: border-bottom-color linear 300ms
		.dropdown
			height: 100%
			display: flex
			align-items: center
			&:hover
				.dropdown-menu
					display: block
			&-toggle
				&:after
					display: none
			&-menu
				border-radius: 20px
				padding: 0
				min-width: 280px
				top: 44px !important
			&-item,
			a.dropdown-item
				font-size: 15px
				line-height: 18px
				font-family: 'moderat-medium'
				padding: 12px 16px
				color: $primary
				transition: color linear 500ms, background-color linear 500ms
				&:hover
					background-color: $secondary
					color: $white
					transition: color linear 300ms, background-color linear 300ms
				&:first-child
					border-radius: 18px 18px 0 0
				&:last-child
					border-radius: 0 0 18px 18px
