.i
	display: inline-block
	width: 32px
	height: 32px
	background: no-repeat center center
	background-size: contain
	&-social
		width: 33px
		height: 33px
		background-color: $white
		border-radius: 100%
	&-sm
		width: 16px
		height: 16px
	&-right-arrow
		background-image: url(../images/icon-right-arrow.svg)
	&-fb
		background-image: url(../images/icon-fb.svg)
		&:hover
			background-image: url(../images/icon-fb-hover.svg)
	&-youtube
		background-image: url(../images/icon-youtube.svg)
		&:hover
			background-image: url(../images/icon-youtube-hover.svg)
	&-inst
		background-image: url(../images/icon-inst.svg)
		&:hover
			background-image: url(../images/icon-inst-hover.svg)
	&-in
		background-image: url(../images/icon-in.svg)
		&:hover
			background-image: url(../images/icon-in-hover.svg)

	&-demographic
		background-image: url(../images/icon-demographic.svg)
	&-style
		background-image: url(../images/icon-style.svg)
	&-materials
		background-image: url(../images/icon-materials.svg)
	&-budget
		background-image: url(../images/icon-budget.svg)
	&-retro
		background-image: url(../images/icon-retro.svg)
	&-plush-velvet
		background-image: url(../images/icon-plush-velvet.svg)
	&-minimal
		background-image: url(../images/icon-minimal.svg)
	&-organic-cotton
		background-image: url(../images/icon-organic-cotton.svg)
	&-industrial
		background-image: url(../images/icon-industrial.svg)
	&-steel-stone-marble
		background-image: url(../images/icon-steel-stone-marble.svg)


@media (min-width: 768px)
	.i
		&-social
			width: 63px
			height: 63px
			background-color: $white
			border-radius: 100%
