.i
	display: inline-block
	width: 32px
	height: 32px
	background: no-repeat center center
	background-size: contain
	&-social
		width: 63px
		height: 63px
		background-color: $white
		border-radius: 100%
	&-sm
		width: 16px
		height: 16px
	&-right-arrow
		background-image: url(../images/icon-right-arrow.svg)
	&-fb
		background-image: url(../images/icon-fb.svg)
		&:hover
			background-image: url(../images/icon-fb-hover.svg)
	&-youtube
		background-image: url(../images/icon-youtube.svg)
		&:hover
			background-image: url(../images/icon-youtube-hover.svg)
	&-inst
		background-image: url(../images/icon-inst.svg)
		&:hover
			background-image: url(../images/icon-inst-hover.svg)
	&-in
		background-image: url(../images/icon-in.svg)
		&:hover
			background-image: url(../images/icon-in-hover.svg)
