.product-header
	padding-top: 147px
	height: 1035px
	position: relative
	font-family: 'moderat-light'
	font-size: 24px
	line-height: 32px
	&:before
		content: ""
		display: block
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 900px
		background: linear-gradient(90deg, #DFE9F3 0%, #FFFFFF 100%)
		z-index: -1
	&:after
		content: ""
		display: block
		position: absolute
		background: url(../images/product-header-bg.svg) no-repeat 0 0
		height: 746px
		width: 100%
		left: 0
		right: 0
		top: 362px
		z-index: -1
	.h1
		font-family: 'comfortaa'
		font-weight: 700
		font-size: 70px
		line-height: 84px
	.tablet-container
		background-color: $white
		border-radius: 30px
		height: 405px
		width: 767px
		display: inline-block
		margin-top: 32px
		margin-bottom: 32px
