#carouselNavy
	.carousel
		&-item
			img
				height: 652px
			.h4
				padding-right: 96px
		&-indicators
			background-color: $navy
			top: 676px
			bottom: initial
			left: initial
			margin: 0
			li
				border-radius: 50%
		&-control
			&-prev
				height: 652px
				left: -7.5%
				opacity: 1
				&-icon
					padding: 17px 11px
					height: 89px
					background: rgba(255, 255, 255, 0.7) no-repeat 20px center
					background-image: url(../images/icon-prev-review-hover.svg)
					width: 75px
					border-radius: 20px
				&:hover
					.carousel-control-prev-icon
						background-image: url(../images/icon-prev-review-hover-pink.svg)
			&-next
				height: 652px
				right: -7.5%
				opacity: 1
				&-icon
					padding: 17px 11px
					height: 89px
					background: rgba(255, 255, 255, 0.7) no-repeat 28px center
					background-image: url(../images/icon-next-review-hover.svg)
					width: 75px
					border-radius: 20px
				&:hover
					.carousel-control-next-icon
						background-image: url(../images/icon-next-review-hover-pink.svg)
