#carouselNavy
	.carousel
		&-item
			img,
			video
				height: 275px
				background-color: $white
		&-indicators
			background-color: $primary
			top: 370px
			bottom: initial
			margin: 0
			li
				border-radius: 50%
		&-control
			&-prev
				height: 652px
				left: -37px
				opacity: 0
				width: 75px
				transition: opacity 300ms linear
				&-icon
					padding: 17px 11px
					height: 89px
					background: rgba(255, 255, 255, 0.7) no-repeat 20px center
					background-image: url(../images/icon-prev-review-hover.svg)
					width: 75px
					border-radius: 20px
				&:hover
					opacity: 1
					.carousel-control-prev-icon
						background-image: url(../images/icon-prev-review-hover-pink.svg)
			&-next
				height: 652px
				right: -37px
				opacity: 0
				width: 75px
				transition: opacity 300ms linear
				&-icon
					padding: 17px 11px
					height: 89px
					background: rgba(255, 255, 255, 0.7) no-repeat 28px center
					background-image: url(../images/icon-next-review-hover.svg)
					width: 75px
					border-radius: 20px
				&:hover
					opacity: 1
					.carousel-control-next-icon
						background-image: url(../images/icon-next-review-hover-pink.svg)

.slider-navy
	.h2
		font-size: 20px
		line-height: 32px
		font-family: 'moderat-bold'
		font-weight: normal
	.h5
		font-size: 18px
		line-height: 30px
		font-family: 'moderat-light'
		font-weight: normal

@media (min-width: 768px)
	#carouselNavy
		.carousel
			&-item
				img,
				video
					border-radius: 30px
					height: 652px
			&-indicators
				top: 676px
				left: initial

	.slider-navy
		.h2
			font-size: 32px
			line-height: 38px
		.h5
			font-size: 18px
			line-height: 30px
