.h-inherit
	height: inherit
.no-transition
	transition: height 0ms

@media (min-width: 768px)
	.w-md-auto
		width: auto !important

.bg-gradient-blue
	background: linear-gradient(96.7deg, #E6F0FF 6.22%, #FFFFFF 96.06%)

.nav-pills
	.nav-link
		background-color: $primary
		border: 1px solid $primary
		color: $white
		margin-right: 11px
		margin-left: 11px
		font-family: 'moderat-bold'
		font-size: 14px
		font-weight: normal
		white-space: nowrap
		&:hover
			border-color: #61C0FA
			background-color: #61C0FA
		&.active
			background-color: $white
			border-color: #61C0FA
			color: #61C0FA

	.nav-item
		&:first-child
			.nav-link
				margin-left: 0
		&:last-child
			.nav-link
				margin-right: 0

.col-form-label
	font-family: 'moderat-bold'
	font-size: 20px
	font-weight: normal
	line-height: 24px
	padding-top: calc(1rem - 1px)
	padding-bottom: calc(1rem - 1px)
.form-group
	margin-bottom: 1.5rem

.custom-file
	height: 54px

.custom-file-label
	font-family: 'moderat-light'
	font-size: 17px
	font-weight: normal
	color: $secondary
	text-decoration: underline
	background-color: transparent
	cursor: pointer
	height: 54px
	line-height: 54px
	padding: 0
	border: none
	left: 1rem
	&:after
		display: none
