.h
	&-xl
		font-size: 60px
		line-height: 50px
		font-weight: normal
	&-lg
		font-size: 60px
		line-height: 114px
		font-family: 'moderat-bold'
		font-weight: normal
	&1
		font-size: 70px
		line-height: 84px
		letter-spacing: -0.01em
		font-family: 'moderat-medium'
		font-weight: normal
	&2
		font-size: 45px
		line-height: 52px
		letter-spacing: -0.01em
		font-family: 'moderat-regular'
		font-weight: normal
	&4
		font-size: 35px
		line-height: 45px
		font-family: 'moderat-bold'
		font-weight: normal

.text
	&-medium
		&-light
			font-family: 'moderat-light'
			font-size: 20px
			line-height: 35px
			letter-spacing: -0.02em
	&-large
		&-data
			font-family: 'moderat-bold'
			font-size: 80px
			line-height: 96px
	&-small
		&-subtext
			font-family: 'moderat-regular'
			font-size: 20px
			line-height: 24px
		&-bold
			&-heading
				font-family: 'moderat-bold'
				font-size: 18px
				line-height: 34px
		&-light
			&-heading
				font-family: 'moderat-regular'
				font-size: 18px
				line-height: 34px
	&-light
		&-subtext
			font-family: 'moderat-light'
			font-size: 22px
			line-height: 32px
