mixin BlogHeader()
	section.blog-header-section
		.blog-header-container
			.container
				.row
					.col-12.col-md-6.blog-header-content
						h1.h1 Blog
						p Company news, culture spots, and commerce experience trends, tips, and know-how from industry experts.
						a.btn.btn-light.btn-icon.shadow(href="#")
							span Explore
							i.i.i-sm.i-right-arrow
