mixin BlogSignUp()
	section.blog-sign-up-section
		.container
			.row.justify-content-center
				.col-12.col-xxl-9.text-center
					h2.h2 Sign up for our blog
					p Get the latest straight to your inbox!
					form
						.form-group
							input.form-control(type="text")
