include ../../molecules/case-studies-media

mixin CaseStudiesItemContent()
	section.case-studies-item-content-section.sm-toggle-position
		.container
			.row.mb-9
				.col-12
					h2.h2.text-center.text-white See more case studies
			.row
				+CaseStudiesMedia()
				+CaseStudiesMedia()
