mixin CaseStudiesHeader()
	section.case-studies-header-section.text-white
		.container.h-100
			.row.h-100.align-items-center
				.col-6.mb-10
					h1.h1 Case Studies
					p See how top retailers fuel their growth with renovai by creating online shopping experiences that drive greater hyper- personalized experiences and enhanced engagement.
