@media (min-width: 768px)
	.animation-header-slide-01
		.woman
			width: 382px
			height: 466px
			background: url(../images/woman-slide-01.png) no-repeat 0 0
			background-size: contain
			position: absolute
			bottom: 0
			left: 9.77%
			animation: ease-out 23400ms 1 forwards woman01Key768
		.properties-container
			top: 486px
			left: 50.65%
			animation: ease-out 23400ms 1 forwards propertiesContainer01Key768
		.property
			white-space: nowrap
			animation: ease-out 23400ms 1 forwards property01Key768
			&-text
				width: 100%
				animation: ease-out 23400ms 1 forwards propertyText01Key
		.phone-animation-slide-01
			position: absolute
			right: 9.64%
			top: -491px
			width: 262px
			height: 491px
			background: url(../images/phone-animation-slide-01.png) no-repeat 0 0
			background-size: contain
			animation: ease-out 23400ms 1 forwards phoneAnimationSlide01Key768
		.scene-01
			&-img
				&-01
					opacity: 0
					width: 71px
					height: 165px
					position: absolute
					top: -165px
					right: 190px
					animation: ease-out 23400ms 1 forwards scene01img01Key768
				&-02
					opacity: 0
					width: 188px
					height: 197px
					position: absolute
					top: -197px
					right: 209px
					animation: ease-out 23400ms 1 forwards scene01img02Key768
				&-03
					opacity: 0
					width: 150px
					height: 102px
					position: absolute
					bottom: -102px
					right: 90px
					animation: ease-out 23400ms 1 forwards scene01img03Key768
				&-04
					opacity: 0
					width: 165px
					height: 130px
					position: absolute
					bottom: -130px
					right: 251px
					animation: ease-out 23400ms 1 forwards scene01img04Key768
				&-05
					opacity: 0
					width: 102px
					height: 41px
					position: absolute
					top: 344px
					right: -102px
					animation: ease-out 23400ms 1 forwards scene01img05Key768
				&-06
					opacity: 0
					width: 56px
					height: 56px
					position: absolute
					top: 235px
					right: -56px
					animation: ease-out 23400ms 1 forwards scene01img06Key768

	@keyframes scene01img06Key768
		11.54%
			opacity: 0
			right: -56px
		14.1%
			opacity: 1
			right: 132px
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			opacity: 0
			right: 132px

	@keyframes scene01img05Key768
		11.54%
			opacity: 0
			right: -102px
		14.1%
			opacity: 1
			right: 117px
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			opacity: 0
			right: 117px

	@keyframes scene01img04Key768
		11.54%
			opacity: 0
			bottom: -130px
		14.1%
			opacity: 1
			bottom: 424px
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			opacity: 0
			bottom: 424px

	@keyframes scene01img03Key768
		11.54%
			opacity: 0
			bottom: -102px
		14.1%
			opacity: 1
			bottom: 503px
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			opacity: 0
			bottom: 503px

	@keyframes scene01img02Key768
		11.54%
			opacity: 0
			top: -269px
		14.1%
			opacity: 1
			top: 190px
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			opacity: 0
			top: 190px

	@keyframes scene01img01Key768
		5.13%
			top: -165px
		6.41%
			width: 71px
			height: 165px
			top: 246px
		11.54%
			width: 71px
			height: 165px
			right: 190px
			top: 246px
		14.1%
			width: 171px
			height: 397px
			top: 289px
			right: 154px
			opacity: 1
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			width: 171px
			height: 397px
			top: 289px
			right: 154px
			opacity: 0

	@keyframes phoneAnimationSlide01Key768
		5.13%
			top: -491px
		6.41%
			top: 203px
		11.54%
			opacity: 1
		14.1%
			opacity: 0
		100%
			top: 203px
			opacity: 0

	@keyframes propertiesContainer01Key768
		5.13%
			top: 486px
			left: 50.65%
		6.41%
			top: 291px
			left: 89.85%
		100%
			top: 291px
			left: 89.85%

	@keyframes propertyText01Key
		5.13%
			opacity: 1
			width: 100%
		6.41%
			opacity: 0
			width: 0
		100%
			opacity: 0
			width: 0

	@keyframes property01Key768
		5.13%
			max-width: 100%
		6.41%
			max-width: 37px
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			opacity: 0
			max-width: 37px

	@keyframes woman01Key768
		24.79%
			opacity: 1
		27.35%
			opacity: 0
		100%
			opacity: 0
