.animation-header-slide-02
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 2
	.woman
		width: 211px
		height: 244px
		background: url(../images/woman-slide-02.png) no-repeat 0 0
		background-size: contain
		position: absolute
		bottom: 0
		left: -29px
	.properties-container
		left: 115px
		bottom: 0
	.scene-02
		&-img
			&-01
				opacity: 0
			&-02
				opacity: 0
			&-03
				opacity: 0
			&-04
				opacity: 0
			&-05
				opacity: 0

@import 'animation-header-slide-02-media-768'

@import 'animation-header-slide-02-media-992'

@import 'animation-header-slide-02-media-1200'
