@media (min-width: 992px)
	.animation-plus
		&.s-1
			width: 17px
			height: 17px
			top: 154px
			right: 208px
			animation: ease-out 23400ms 1 forwards animationPlusS1Key992
		&.s-2
			width: 20px
			height: 20px
			top: 258px
			right: 140px
			animation: ease-out 23400ms 1 forwards animationPlusS2Key992
		&.s-3
			width: 25px
			height: 25px
			top: 351px
			right: 131px
			animation: ease-out 23400ms 1 forwards animationPlusS3Key992
		&.s-4
			width: 25px
			height: 25px
			top: 391px
			right: 415px
			animation: ease-out 23400ms 1 forwards animationPlusS4Key992
		&.s-5
			width: 28px
			height: 28px
			top: 167px
			right: 387px
			animation: ease-out 23400ms 1 forwards animationPlusS5Key992

	@keyframes animationPlusS5Key992
		11.54%
			opacity: 0
			width: 28px
			height: 28px
			top: 167px
			right: 387px
		14.1%
			opacity: 1
		24.79%
			opacity: 1
		27.35%
			opacity: 0
			width: 28px
			height: 28px
			top: 167px
			right: 387px

		40.17%
			opacity: 0
			width: 37px
			height: 37px
			top: 361px
			right: 145px
		42.74%
			opacity: 1
		53.42%
			opacity: 1
		55.98%
			opacity: 0
			width: 37px
			height: 37px
			top: 361px
			right: 145px

		68.8%
			opacity: 0
			width: 30px
			height: 30px
			top: 176px
			right: 333px
		71.37%
			opacity: 1
		82.05%
			opacity: 1
		84.62%
			opacity: 0
			width: 30px
			height: 30px
			top: 176px
			right: 333px

		97.44%
			opacity: 0
			width: 32px
			height: 32px
			top: 403px
			right: 476px
		100%
			opacity: 1
			width: 32px
			height: 32px
			top: 403px
			right: 476px

	@keyframes animationPlusS4Key992
		11.54%
			opacity: 0
			width: 25px
			height: 25px
			top: 391px
			right: 415px
		14.1%
			opacity: 1
		24.79%
			opacity: 1
		27.35%
			opacity: 0
			width: 25px
			height: 25px
			top: 391px
			right: 415px

		40.17%
			opacity: 0
			width: 25px
			height: 25px
			top: 193px
			right: 316px
		42.74%
			opacity: 1
		53.42%
			opacity: 1
		55.98%
			opacity: 0
			width: 25px
			height: 25px
			top: 193px
			right: 316px

		68.8%
			opacity: 0
			width: 24px
			height: 24px
			top: 420px
			right: 397px
		71.37%
			opacity: 1
		82.05%
			opacity: 1
		84.62%
			opacity: 0
			width: 24px
			height: 24px
			top: 420px
			right: 397px

		97.44%
			opacity: 0
			width: 30px
			height: 30px
			top: 193px
			right: 70px
		100%
			opacity: 1
			width: 30px
			height: 30px
			top: 193px
			right: 70px

	@keyframes animationPlusS3Key992
		11.54%
			opacity: 0
			width: 25px
			height: 25px
			top: 351px
			right: 131px
		14.1%
			opacity: 1
		24.79%
			opacity: 1
		27.35%
			opacity: 0
			width: 25px
			height: 25px
			top: 351px
			right: 131px

		40.17%
			opacity: 0
			width: 25px
			height: 25px
			top: 241px
			right: 87px
		42.74%
			opacity: 1
		53.42%
			opacity: 1
		55.98%
			opacity: 0
			width: 25px
			height: 25px
			top: 241px
			right: 87px

		68.8%
			opacity: 0
			width: 20px
			height: 20px
			top: 176px
			right: 142px
		71.37%
			opacity: 1
		82.05%
			opacity: 1
		84.62%
			opacity: 0
			width: 20px
			height: 20px
			top: 176px
			right: 142px

		97.44%
			opacity: 0
			width: 25px
			height: 25px
			top: 215px
			right: 431px
		100%
			opacity: 1
			width: 25px
			height: 25px
			top: 215px
			right: 431px

	@keyframes animationPlusS2Key992
		11.54%
			opacity: 0
			width: 20px
			height: 20px
			top: 258px
			right: 140px
		14.1%
			opacity: 1
		24.79%
			opacity: 1
		27.35%
			opacity: 0
			width: 20px
			height: 20px
			top: 258px
			right: 140px

		40.17%
			opacity: 0
			width: 20px
			height: 20px
			top: 501px
			right: 124px
		42.74%
			opacity: 1
		53.42%
			opacity: 1
		55.98%
			opacity: 0
			width: 20px
			height: 20px
			top: 501px
			right: 124px

		68.8%
			opacity: 0
			width: 17px
			height: 17px
			top: 246px
			right: 126px
		71.37%
			opacity: 1
		82.05%
			opacity: 1
		84.62%
			opacity: 0
			width: 17px
			height: 17px
			top: 246px
			right: 126px

		97.44%
			opacity: 0
			width: 24px
			height: 24px
			top: 508px
			right: 63px
		100%
			opacity: 1
			width: 24px
			height: 24px
			top: 508px
			right: 63px

	@keyframes animationPlusS1Key992
		11.54%
			opacity: 0
			width: 17px
			height: 17px
			top: 154px
			right: 208px
		14.1%
			opacity: 1
		24.79%
			opacity: 1
		27.35%
			opacity: 0
			width: 17px
			height: 17px
			top: 154px
			right: 208px

		40.17%
			opacity: 0
			width: 16px
			height: 16px
			top: 409px
			right: 69px
		42.74%
			opacity: 1
		53.42%
			opacity: 1
		55.98%
			opacity: 0
			width: 16px
			height: 16px
			top: 409px
			right: 69px

		68.8%
			opacity: 0
			width: 16px
			height: 16px
			top: 418px
			right: 138px
		71.37%
			opacity: 1
		82.05%
			opacity: 1
		84.62%
			opacity: 0
			width: 16px
			height: 16px
			top: 418px
			right: 138px

		97.44%
			opacity: 0
			width: 16px
			height: 16px
			top: 419px
			right: 196px
		100%
			opacity: 1
			width: 16px
			height: 16px
			top: 419px
			right: 196px
