@media (min-width: 768px)
	.animation-header-slide-04
		.man
			width: 348px
			height: 483px
			background: url(../images/man-slide-04.png) no-repeat 0 0
			background-size: contain
			position: absolute
			bottom: 0
			left: -348px
			animation: ease-out 23400ms 1 forwards man04Key768

		.properties-container
			opacity: 0
			top: 214px
			left: 62.17%
			animation: ease-out 23400ms 1 forwards propertiesContainer04Key768
		.property
			opacity: 0
			white-space: nowrap
			animation: ease-out 23400ms 1 forwards property04Key768
			&-text
				animation: ease-out 23400ms 1 forwards propertyText04Key

		.phone-animation-slide-04
			position: absolute
			right: 12.3%
			top: -491px
			width: 262px
			height: 491px
			background: url(../images/phone-animation-slide-04.png) no-repeat 0 0
			background-size: contain
			animation: ease-out 23400ms 1 forwards phoneAnimationSlide04Key768

	@keyframes phoneAnimationSlide04Key768
		89.74%
			top: -491px
		92.31%
			top: 118px
		97.44%
			opacity: 1
		100%
			top: 118px
			opacity: 0

	@keyframes phoneAnimationSlide04Key768
		89.74%
			top: -702px
		92.31%
			top: 118px
		97.44%
			opacity: 1
		100%
			top: 118px
			opacity: 0

	@keyframes propertiesContainer04Key768
		82.05%
			opacity: 0
		84.62%
			opacity: 1
		89.74%
			top: 214px
			left: 62.17%
		92.31%
			top: 218px
			left: 92.3%
		100%
			opacity: 1
			top: 218px
			left: 92.3%

	@keyframes property04Key768
		82.05%
			opacity: 0
		84.62%
			opacity: 1
		89.74%
			max-width: 100%
		92.31%
			max-width: 37px
		97.44%
			opacity: 1
		100%
			opacity: 0
			max-width: 37px

	@keyframes propertyText04Key
		82.05%
			opacity: 0
		84.62%
			width: 100%
			opacity: 1
		89.74%
			width: 100%
			opacity: 1
		92.31%
			opacity: 0
			width: 0
		100%
			opacity: 0
			width: 0

	@keyframes man04Key768
		82.05%
			left: -348px
			opacity: 0
		84.62%
			left: 15.23%
			opacity: 1
		100%
			left: 15.23%
			opacity: 1
