@media (min-width: 768px)
	.animation-header-slide-02
		.woman
			width: 388px
			height: 449px
			left: -388px
			animation: ease-out 23400ms 1 forwards woman02Key768
		.properties-container
			opacity: 0
			bottom: initial
			top: 474px
			left: 47.53%
			animation: ease-out 23400ms 1 forwards propertiesContainer02Key768
		.property
			opacity: 0
			white-space: nowrap
			animation: ease-out 23400ms 1 forwards property02Key768
			&-text
				animation: ease-out 23400ms 1 forwards propertyText02Key
		.phone-animation-slide-02
			position: absolute
			right: 12.42%
			top: -491px
			width: 262px
			height: 491px
			background: url(../images/phone-animation-slide-02.png) no-repeat 0 0
			background-size: contain
			animation: ease-out 23400ms 1 forwards phoneAnimationSlide02Key768

		.scene-02
			&-img
				&-01
					position: absolute
					width: 139px
					height: 138px
					top: -139px
					right: 210px
					animation: ease-out 23400ms 1 forwards scene02img01Key768
				&-02
					opacity: 0
					width: 173px
					height: 163px
					position: absolute
					top: 254px
					right: -173px
					animation: ease-out 23400ms 1 forwards scene02img02Key768
				&-03
					opacity: 0
					width: 95px
					height: 254px
					position: absolute
					top: -254px
					right: 242px
					animation: ease-out 23400ms 1 forwards scene02img03Key768
				&-04
					opacity: 0
					width: 100px
					height: 151px
					position: absolute
					top: auto
					bottom: -151px
					right: 56px
					animation: ease-out 23400ms 1 forwards scene02img04Key768
				&-05
					opacity: 0
					width: 67px
					height: 44px
					position: absolute
					top: auto
					bottom: -44px
					right: 79px
					animation: ease-out 23400ms 1 forwards scene02img05Key768

	@keyframes scene02img05Key768
		40.17%
			opacity: 0
			bottom: -44px
		42.74%
			opacity: 1
			bottom: 303px
		53.42%
			opacity: 1
		55.98%
			opacity: 0
		100%
			opacity: 0
			bottom: 303px

	@keyframes scene02img04Key768
		40.17%
			opacity: 0
			bottom: -151px
		42.74%
			opacity: 1
			bottom: 171px
		53.42%
			opacity: 1
		55.98%
			opacity: 0
		100%
			opacity: 0
			bottom: 171px

	@keyframes scene02img03Key768
		40.17%
			opacity: 0
			top: -254px
		42.74%
			opacity: 1
			top: 76px
		53.42%
			opacity: 1
		55.98%
			opacity: 0
		100%
			opacity: 0
			top: 76px

	@keyframes scene02img02Key768
		40.17%
			opacity: 0
			right: -173px
		42.74%
			opacity: 1
			right: 69px
		53.42%
			opacity: 1
		55.98%
			opacity: 0
		100%
			opacity: 0
			right: 69px

	@keyframes scene02img01Key768
		32.48%
			top: -139px
		35.04%
			width: 139px
			height: 138px
			top: 224px
			right: 210px
		40.17%
			width: 139px
			height: 138px
			top: 224px
			right: 210px
		42.74%
			width: 298px
			height: 296px
			top: 347px
			right: 140px
			opacity: 1
		53.42%
			opacity: 1
		55.98%
			opacity: 0
		100%
			width: 298px
			height: 296px
			top: 347px
			right: 140px
			opacity: 0

	@keyframes phoneAnimationSlide02Key768
		32.48%
			top: -491px
		35.04%
			top: 166px
		40.17%
			opacity: 1
		42.74%
			opacity: 0
		100%
			top: 166px
			opacity: 0

	@keyframes propertiesContainer02Key768
		24.79%
			opacity: 0
		27.35%
			opacity: 1
		32.48%
			top: 474px
			left: 47.53%
		35.04%
			top: 253px
			left: 86.72%
		100%
			opacity: 1
			top: 253px
			left: 86.72%

	@keyframes propertyText02Key
		24.79%
			opacity: 0
		27.35%
			width: 100%
			opacity: 1
		32.48%
			width: 100%
			opacity: 1
		35.04%
			opacity: 0
			width: 0
		100%
			opacity: 0
			width: 0

	@keyframes property02Key768
		24.79%
			opacity: 0
		27.35%
			opacity: 1
		32.48%
			max-width: 100%
		35.04%
			max-width: 37px

		40.17%
			opacity: 1
		42.74%
			opacity: 0
		100%
			opacity: 0
			max-width: 37px

	@keyframes woman02Key768
		24.79%
			opacity: 0
			left: -388px
		27.35%
			left: 8.85%
			opacity: 1
		53.42%
			left: 8.85%
			opacity: 1
		55.98%
			left: -388px
			opacity: 0
		100%
			left: -388px
			opacity: 0
