@media (min-width: 768px)
	.animation-header-slide-04
		.man
			width: 348px
			height: 483px
			background: url(../images/man-slide-04.png) no-repeat 0 0
			background-size: contain
			position: absolute
			bottom: 0
			left: -348px
			animation: ease-out 23400ms 1 forwards man04Key768

		.properties-container
			opacity: 0
			top: 329px
			left: 41.41%
			animation: ease-out 23400ms 1 forwards propertiesContainer04Key768
		.property
			opacity: 0
			white-space: nowrap
			animation: ease-out 23400ms 1 forwards property04Key768
			&-text
				animation: ease-out 23400ms 1 forwards propertyText04Key

		.phone-animation-slide-04
			position: absolute
			right: 12.3%
			top: -491px
			width: 262px
			height: 491px
			background: url(../images/phone-animation-slide-04.png) no-repeat 0 0
			background-size: contain
			animation: ease-out 23400ms 1 forwards phoneAnimationSlide04Key768
		.scene-04
			&-img
				&-01
					opacity: 0
					position: absolute
					width: 385px
					height: 416px
					right: -385px
					top: 157px
					animation: ease-out 23400ms 1 forwards scene04img01Key768
				&-02
					opacity: 0
					width: 214px
					height: 142px
					position: absolute
					top: -142px
					right: 194px
					animation: ease-out 23400ms 1 forwards scene04img02Key768
				&-03
					opacity: 0
					width: 218px
					height: 174px
					position: absolute
					top: -174px
					right: 237px
					animation: ease-out 23400ms 1 forwards scene04img03Key768
				&-04
					opacity: 0
					width: 119px
					height: 109px
					position: absolute
					top: 498px
					right: -119px
					animation: ease-out 23400ms 1 forwards scene04img04Key768
				&-05
					opacity: 0
					width: 39px
					height: 79px
					position: absolute
					top: 389px
					right: -39px
					animation: ease-out 23400ms 1 forwards scene04img05Key768

	@keyframes scene04img05Key768
		97.44%
			opacity: 0
			right: -39px
		100%
			opacity: 1
			right: 198px

	@keyframes scene04img04Key768
		97.44%
			opacity: 0
			right: -119px
		100%
			opacity: 1
			right: 58px

	@keyframes scene04img03Key768
		97.44%
			opacity: 0
			top: -174px
		100%
			opacity: 1
			top: 202px

	@keyframes scene04img02Key768
		89.74%
			top: -142px
			opacity: 0
		92.31%
			top: 207px
			opacity: 1
		97.44%
			width: 214px
			height: 142px
			top: 207px
			right: 194px
			opacity: 1
		100%
			width: 436px
			height: 289px
			top: 376px
			right: 100px
			opacity: 1

	@keyframes scene04img01Key768
		97.44%
			opacity: 0
			right: -385px
		100%
			opacity: 1
			right: 27px

	@keyframes phoneAnimationSlide04Key768
		89.74%
			top: -491px
		92.31%
			top: 118px
		97.44%
			opacity: 1
		100%
			top: 118px
			opacity: 0

	@keyframes phoneAnimationSlide04Key768
		89.74%
			top: -702px
		92.31%
			top: 118px
		97.44%
			opacity: 1
		100%
			top: 118px
			opacity: 0

	@keyframes propertiesContainer04Key768
		82.05%
			opacity: 0
		84.62%
			opacity: 1
		89.74%
			top: 329px
			left: 41.41%
		92.31%
			top: 254px
			left: 87.5%
		100%
			opacity: 1
			top: 254px
			left: 87.5%

	@keyframes property04Key768
		82.05%
			opacity: 0
		84.62%
			opacity: 1
		89.74%
			max-width: 100%
		92.31%
			max-width: 37px
		97.44%
			opacity: 1
		100%
			opacity: 0
			max-width: 37px

	@keyframes propertyText04Key
		82.05%
			opacity: 0
		84.62%
			width: 100%
			opacity: 1
		89.74%
			width: 100%
			opacity: 1
		92.31%
			opacity: 0
			width: 0
		100%
			opacity: 0
			width: 0

	@keyframes man04Key768
		82.05%
			left: -348px
			opacity: 0
		84.62%
			left: 11.85%
			opacity: 1
		100%
			left: 11.85%
			opacity: 1
