mixin itmmb()
	section.bg-secondary.pt-9.pb-7.itmmb-section.sm-toggle-position
		.container.text-center
			.text-white.mb-4
				p Transform your shoppers journey with renovai’s
				p
					b interactive tailor- made mood board
			a.btn.btn-light.shadow.btn-lg(href="#") Book a Demo
