extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/blog/blog-header
include ../organisms/blog/gtri
include ../organisms/blog/blog-carousel

block main
	main
		+BlogHeader()
		+BlogCarousel()
		+ExperienceRenovai()
