extends ../templates/layout
include ../organisms/header-logos
include ../organisms/sier
include ../organisms/rcsar
include ../organisms/slider-navy
include ../organisms/reviews
include ../organisms/experience-renovai
include ../organisms/animation-header-slides

block main
	main
		+AnimationHeaderSlides()
		+HeaderLogos()
		+ShopInspireExperienceRepeat()
		+RenovaiCustomersSeeAdvancedResults()
		+SliderNavy()
		+Reviews()
		+ExperienceRenovai()
