extends ../templates/layout
include ../organisms/header-logos
include ../organisms/sier
include ../organisms/rcsar
include ../organisms/slider-navy

block main
	main
		+HeaderLogos()
		+ShopInspireExperienceRepeat()
		+RenovaiCustomersSeeAdvancedResults()
		+SliderNavy()
