extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/itmmb
include ../organisms/product-header
include ../organisms/tbcfyw
include ../organisms/product-content

block main
	main
		+ProductHeader()
		+itmmb()
		+ProductContent()
		+TheBestChoiceForYourWebsite()
		+ExperienceRenovai()
