extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/itmmb
include ../organisms/product-header

block main
	main
		+ProductHeader()
		+itmmb()
		+ExperienceRenovai()
