extends ../templates/layout
include ../organisms/experience-renovai

block main
		section.dark-blue-section
				.container
					.row.justify-content-center
						.col-12.text-center
							.h1 The renovai report
								br
								| COMING SOON!
							p After working with major lifestyle brands, we are putting together all our findings based on analysis conducted on millions of sessions, from best sellers through styles to complete room settings.
							p.mb-6 Sign up to receive all the information, trends and the opportunities seized by leading retailers leveraging our solutions to engage life-long brand ambassadors.
							a.btn.btn-light(href="/") Explore
		+ExperienceRenovai()
