mixin CareersGrandmother()
	section.careers-grandmother-section.position-relative.sm-toggle-menu
		.careers-grandmother-container
			.careers-grandmother
			a.careers-grandmother-link.be-innovative-link(href="#")
				span Be Innovative
			a.careers-grandmother-link.be-fast-link(href="#")
				span Be Fast
			a.careers-grandmother-link.be-accountable-link(href="#")
				span Be Accountable
			a.careers-grandmother-link.be-a-team-player-link(href="#")
				span Be a Team Player
			a.careers-grandmother-link.be-data-driven-link(href="#")
				span Be Data Driven
			a.careers-grandmother-link.be-happy-link(href="#")
				span Be Happy
			a.careers-grandmother-link.be-passionate-link(href="#")
				span Be Passionate
			a.careers-grandmother-link.be-exceptional-link(href="#")
				span Be Exceptional
			.careers-grandmother-pillar-container
				.be-innovative-text Dare to challenge conventions and embark on new adventures.
				.be-fast-text Our eco-system is constantly evolving, always stay ahead of the curve.
				.be-accountable-text Take ownership and be conscious of your impact.
				.be-a-team-player-text We are powerful together. Respect others, empower them and grow together.
				.be-data-driven-text Intuiution isn’t enough. Back decisions with numbers and facts.
				.be-happy-text At work and beyond find at least one thing that makes you proud, that makes you smile.
				.be-passionate-text Continue fueling the fire within you.
				.be-exceptional-text Always reserach new ways to better yourself and the work we do with the highest standards in mind.
			.title.text-center
				b Our Values:
				|  It’s all about the people.
