mixin CareersGrandmother()
	section.careers-grandmother-section.position-relative
		.container.position-relative.h-100
			.title.text-center
				b Our Values:
				|  It’s all about the people.
		.careers-grandmother
		.careers-grandmother-pillar-container
