@font-face {
    font-family: 'moderat-bold';
    src: url('../fonts/moderat-bold.eot');
    src: local('moderat bold'), local('moderat-bold'),
        url('../fonts/moderat-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moderat-bold.woff2') format('woff2'),
        url('../fonts/moderat-bold.woff') format('woff'),
        url('../fonts/moderat-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-regular';
    src: url('../fonts/moderat-regular.eot');
    src: local('moderat regular'), local('moderat-regular'),
        url('../fonts/moderat-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moderat-regular.woff2') format('woff2'),
        url('../fonts/moderat-regular.woff') format('woff'),
        url('../fonts/moderat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-mono-regular';
    src: url('../fonts/moderat-mono-regular.eot');
    src: local('moderat mono regular'), local('moderat-mono-regular'),
    url('../fonts/moderat-mono-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/moderat-mono-regular.woff2') format('woff2'),
    url('../fonts/moderat-mono-regular.woff') format('woff'),
    url('../fonts/moderat-mono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-mono-light';
    src: url('../fonts/moderat-mono-light.eot');
    src: local('moderat mono light'), local('moderat-mono-light'),
    url('../fonts/moderat-mono-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/moderat-mono-light.woff2') format('woff2'),
    url('../fonts/moderat-mono-light.woff') format('woff'),
    url('../fonts/moderat-mono-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-mono-bold';
    src: url('../fonts/moderat-mono-bold.eot');
    src: local('moderat mono bold'), local('moderat-mono-bold'),
    url('../fonts/moderat-mono-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/moderat-mono-bold.woff2') format('woff2'),
    url('../fonts/moderat-mono-bold.woff') format('woff'),
    url('../fonts/moderat-mono-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-thin';
    src: url('../fonts/moderat-thin.eot');
    src: local('moderat thin'), local('moderat-thin'),
        url('../fonts/moderat-thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moderat-thin.woff2') format('woff2'),
        url('../fonts/moderat-thin.woff') format('woff'),
        url('../fonts/moderat-thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-medium';
    src: url('../fonts/moderat-medium.eot');
    src: local('moderat medium'), local('moderat-medium'),
        url('../fonts/moderat-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moderat-medium.woff2') format('woff2'),
        url('../fonts/moderat-medium.woff') format('woff'),
        url('../fonts/moderat-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-black';
    src: url('../fonts/moderat-black.eot');
    src: local('moderat black'), local('moderat-black'),
        url('../fonts/moderat-black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moderat-black.woff2') format('woff2'),
        url('../fonts/moderat-black.woff') format('woff'),
        url('../fonts/moderat-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'moderat-light';
    src: url('../fonts/moderat-light.eot');
    src: local('moderat light'), local('moderat-light'),
        url('../fonts/moderat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moderat-light.woff2') format('woff2'),
        url('../fonts/moderat-light.woff') format('woff'),
        url('../fonts/moderat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
