mixin AnimationHeaderSlide03()
	.overflow-hidden.w-100.h-100.animation-header-slide-03.d-none.d-xl-block
		.man
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  26/single
			.property
				i.i.i-minimal
				.property-text
					b Style:
					span  Minimal
			.property
				i.i.i-organic-cotton
				.property-text
					b Materials:
					span  Organic Cotton
			.property
				i.i.i-budget
				.property-text
					b Budget:
					span  €100-€400
