mixin AnimationHeaderSlide01()
	.overflow-hidden.w-100.h-100.animation-header-slide-01
		.woman
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  21/single
			.property
				i.i.i-style
				.property-text
					b Style:
					span  Preppy
			.property
				i.i.i-materials
				.property-text
					b Materials:
					span  Leather & Suede
			.property
				i.i.i-budget
				.property-text
					b Budget:
					span  €100-€400
		.scene-02
			.phone-animation-slide-01
