mixin AnimationHeaderSlide04()
	.overflow-hidden.w-100.h-100.animation-header-slide-04.d-none.d-xl-block
		.man
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  51/married +2
			.property
				i.i.i-industrial
				.property-text
					b Style:
					span  Industrial
			.property
				i.i.i-steel-stone-marble
				.property-text
					b Materials:
					span  Steel/Stone/Marble
			.property
				i.i.i-budget
				.property-text
					b Budget:
					span  €200-€600
		.scene-02
			.phone-animation-slide-04
