mixin CaseStudiesMedia()
	.col-12.col-xl-10.offset-xl-1.mb-6.mb-md-10
		.media.shadow.bg-white.align-items-center.flex-column.flex-lg-row
			img.d-none.d-lg-inline-block(src="images/made-media-img.jpg" alt="" title="")
			img.d-lg-none.w-100.h-auto(src="images/made-media-mobile-img.jpg" alt="" title="")
			.media-body
				img.mb-3(src="images/made-logo-media.svg" alt="" title="")
				h2.h2 Boosted engagement and increased revenue with renovai's “Shop the Room"
				p Made.com managed to improve their revenue increase by a whopping 13%, Average order value by 12.4% and double average time on site.
				.text-left.text-lg-right
					a.btn.btn-secondary.btn-icon.shadow(href="case-studies-item.html" data-toggle="modal" data-target="#caseStudiesItemModal")
						span Get your copy
						i.i.i-sm.i-right-arrow
