mixin CaseStudiesMedia()
	.col-10.offset-1.mb-10
		.media.shadow-lg.bg-white.align-items-center
			img(src="images/made-media-img.jpg" alt="" title="")
			.media-body
				img.mb-3(src="images/made-logo-media.svg" alt="" title="")
				h2.h2 Boosted engagement and increased revenue with renovai's “Shop the Room"
				p Made.com managed to improve their revenue increase by a whopping 13%, Average order value by 12.4% and double average time on site.
				.text-right
					a.btn.btn-secondary.btn-icon.shadow(href="case-studies-item.html")
						span Read more
						i.i.i-sm.i-right-arrow
