include ../molecules/animation-header-slide-01
include ../molecules/animation-header-slide-02
include ../molecules/animation-header-slide-03
include ../molecules/animation-header-slide-04

mixin AnimationHeaderSlides()
	section.animation-header-section.bg-primary.position-relative
		.container.position-relative
			.animation-header-text AI Personal Designer for Retailers
				br
				a.btn.btn-secondary.shadow.mt-2 Book a Demo
		.pillar-container.overflow-hidden.w-100.h-100.animation-header-slide
			.pillar-left
			.pillar-center
			.pillar-right
		+AnimationHeaderSlide01()
		+AnimationHeaderSlide02()
		+AnimationHeaderSlide03()
		+AnimationHeaderSlide04()
