mixin ExperienceRenovai()
	section.bg-experience-renovai.d-flex.experience-renovai
		.container.mt-auto
			.row.align-items-start
				.col-12.col-lg-6.align-content-start
					.text-center.d-md-inline-block.mt-6.mb-6
						.h1.mb-5
							p Experience renovai
						a.btn.btn-pink.btn-lg.d-none.d-md-inline-block.shadow(href="#") Book a Demo
						a.btn.btn-pink.d-md-none.shadow(href="#") Book a Demo
				.col-12.col-lg-6
					.text-right
						img.img-fluid(src="images/request-demo-phone.png" alt="" title="")
