footer.bg-navy.pt-6.pb-7.text-white
	.container
		.row
			.col-auto.pr-9
				nav
					p
						b Resources
					a.text-white.d-block(href="#") Blog
					a.text-white.d-block(href="#") White Papers
					a.text-white.d-block(href="#") Data Sheets
					a.text-white.d-block(href="#") Case Studies
			.col-auto.pr-9
				nav
					p
						b Solutions
					a.text-white.d-block(href="#") Virtual Designer
					a.text-white.d-block(href="#") Complete the Look
					a.text-white.d-block(href="#") Interactive Mood-board
					a.text-white.d-block(href="#") Multi-channel Remarketing
					a.text-white.d-block(href="#") personal scout
					a.text-white.d-block(href="#") 360° Product display
			.col-auto.pr-9
				nav
					p
						b Company
					a.text-white.d-block(href="#") About
					a.text-white.d-block(href="#") News
					a.text-white.d-block(href="#") Contact
					a.text-white.d-block(href="#") Careers
			.col-auto.pr-9
				nav
					p
						b Contact Us
		.row.mt-9
			.col-6
				a.i.i-fb.i-social(href="#")
				a.i.i-youtube.i-social(href="#")
				a.i.i-inst.i-social(href="#")
				a.i.i-in.i-social(href="#")
			.col-6.text-right
				img(src="images/logo.svg" width="255" alt="" title="")
