footer.pt-6.pb-7.text-white.bg-primary
	.container
		.row.d-none.d-md-flex
			.col-auto.pr-9
				nav
					p
						b
							a.text-white(href="#") Resources
					.mb-2
						a.text-white.d-inline-block(href="#") Blog
					.mb-2
						a.text-white.d-inline-block(href="#") White Papers
					.mb-2
						a.text-white.d-inline-block(href="#") Data Sheets
					.mb-2
						a.text-white.d-inline-block(href="#") Case Studies
			.col-auto.pr-9
				nav
					p
						b
							a.text-white(href="#") Solutions
					.mb-2
						a.text-white.d-inline-block(href="#") Virtual Designer
					.mb-2
						a.text-white.d-inline-block(href="#") Complete the Look
					.mb-2
						a.text-white.d-inline-block(href="#") Interactive Mood-board
					.mb-2
						a.text-white.d-inline-block(href="#") Multi-channel Remarketing
					.mb-2
						a.text-white.d-inline-block(href="#") personal scout
					.mb-2
						a.text-white.d-inline-block(href="#") 360° Product display
			.col-auto.pr-9
				nav
					p
						b
							a.text-white(href="#") Company
					.mb-2
						a.text-white.d-inline-block(href="#") About
					.mb-2
						a.text-white.d-inline-block(href="#") News
					.mb-2
						a.text-white.d-inline-block(href="#") Contact
					.mb-2
						a.text-white.d-inline-block(href="#") Careers
			.col-auto.pr-9
				nav
					p
						b
							a.text-white(href="#") Contact Us
		.row.mt-9
			.col-md-6.col-12.text-center.text-md-left
				a.i.i-fb.i-social.mr-3(href="#")
				a.i.i-youtube.i-social.mr-3(href="#")
				a.i.i-inst.i-social.mr-3(href="#")
				a.i.i-in.i-social(href="#")
			.col-md-6.text-md-right.col-12.text-center
				img.h-100.w-auto(src="images/logo.svg" alt="" title="")
