footer.bg-navy.pt-6.pb-7.text-white
	.container
		.row
			.col-2
				nav
					p
						b Resources
					a.text-white.d-block(href="#") Blog
					a.text-white.d-block(href="#") White Papers
					a.text-white.d-block(href="#") Data Sheets
					a.text-white.d-block(href="#") Case Studies
			.col-3
				nav
					p
						b Solutions
					a.text-white.d-block(href="#") Virtual Designer
					a.text-white.d-block(href="#") Complete the Look
					a.text-white.d-block(href="#") Interactive Mood-board
					a.text-white.d-block(href="#") Multi-channel Remarketing
					a.text-white.d-block(href="#") personal scout
					a.text-white.d-block(href="#") 360° Product display
			.col-2
				nav
					p
						b Company
					a.text-white.d-block(href="#") About
					a.text-white.d-block(href="#") News
					a.text-white.d-block(href="#") Contact
					a.text-white.d-block(href="#") Careers
			.col-3
				nav
					p
						b Contact Us
