header.bg-navy
	.container
		a.header-logo(href="#")
		menu.header-menu
			a.active(href="#") Home
			a(href="#") Resources
			a(href="#") Solutions
			a(href="#") Company
			a(href="#") Contact Us
		a.btn.btn-light(href="#") Book a Demo
