mixin HeaderLogos()
	section.sm-toggle-position
		.container
			.my-4.slick-logos
				img.w-100.w-md-auto(src="images/john-lewis-logo.svg" alt="" title="")
				img.w-100.w-md-auto(src="images/made-logo.svg" alt="" title="")
				img.w-100.w-md-auto(src="images/mobly-logo.svg" alt="" title="")
				img.w-100.w-md-auto(src="images/temple-webster-logo.svg" alt="" title="")
				img.w-100.w-md-auto(src="images/knus-logo.svg" alt="" title="")
				img.w-100.w-md-auto(src="images/botta-logo.svg" alt="" title="")
