header.d-flex.align-items-center.sm-toggle-menu.position-static.w-100
	.container
		.row.align-items-center
			a.header-logo(href="#")
			.d-inline-block
				ul.nav.header-nav
					li.nav-item
						a.nav-link.active(href="#") Home
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#") Resources
						.dropdown-menu
							a.dropdown-item(href="#") Blog
							a.dropdown-item(href="#") White Papers
							a.dropdown-item(href="#") Data Sheets
							a.dropdown-item(href="#") Case Studies
							a.dropdown-item(href="#") Label
					li.nav-item
						a.nav-link(href="#") Solutions
					li.nav-item
						a.nav-link(href="#") Company
					li.nav-item
						a.nav-link(href="#") Contact Us
					li.nav-item.btn-static
						a.btn.btn-light(href="#") Book a Demo
					li.nav-item.btn-fixed
						a.btn.btn-secondary(href="#") Book a Demo
