header.d-flex.align-items-center.sm-toggle-menu.position-static.w-100.shadow
	.container
		.row.align-items-center
			.col-auto.align-content-center
				a.header-logo(href="#")
			.d-md-inline-block.d-none.col-auto
				ul.nav.header-nav
					li.nav-item
						a.nav-link.active(href="#") Home
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#") Resources
						.dropdown-menu.shadow
							a.dropdown-item(href="#") Blog
							a.dropdown-item(href="#") White Papers
							a.dropdown-item(href="#") Data Sheets
							a.dropdown-item(href="#") Case Studies
							a.dropdown-item(href="#") Label
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#") Solutions
						.dropdown-menu
							a.dropdown-item(href="#") Virtual Designer
							a.dropdown-item(href="#") Complete the Look
							a.dropdown-item(href="#") Interactive Mood- Board
							a.dropdown-item(href="#") Multi- Channel Remarketing
							a.dropdown-item(href="#") Personal Scout
							a.dropdown-item(href="#") 360 Product Display
					li.nav-item.dropdown
						a.nav-link.dropdown-toggle(href="#") Company
						.dropdown-menu
							a.dropdown-item(href="#") About
							a.dropdown-item(href="#") News
							a.dropdown-item(href="#") Contact
							a.dropdown-item(href="#") Careers
					li.nav-item
						a.nav-link(href="#") Contact Us
					li.nav-item.btn-static.mr-0
						a.btn.btn-light.shadow(href="#") Book a Demo
					li.nav-item.btn-fixed.mr-0
						a.btn.btn-secondary.shadow(href="#") Book a Demo
