mixin HeaderLogos()
	section.sm-toggle-position
		.container
			.row.text-center.my-1
				.col
					img(src="images/made-logo.svg" alt="" title="")
				.col
					img(src="images/mobly-logo.svg" alt="" title="")
				.col
					img(src="images/temple-webster-logo.svg" alt="" title="")
				.col
					img(src="images/knus-logo.svg" alt="" title="")
				.col
					img(src="images/botta-logo.svg" alt="" title="")
