mixin ProductContent()
	section.product-content.pt-8.pb-9
		.container
			.row.align-items-center
				.col-5.mb-10.pt-7
					h2.h2 Interior Styling
					p Enhancing product focused display offering the best interior styling, customised for each and every user.
					a.btn.btn-pink.mt-4.shadow(href="#") Book a Demo
				.col-6.text-right.offset-1.mb-10.pt-7
					img(src="images/phone-complete-the-look-01.png" alt="" title="")
				.col-6.mt-10
					img(src="images/phone-complete-the-look-02.png" alt="" title="")
				.col-5.offset-1.mt-10
					h2.h2 Fashion Style Assistant
					p Enhancing product focused display offering the best interior styling, customised for each and every user.
					a.btn.btn-secondary.mt-4.shadow(href="#") Book a Demo
