mixin ProductHeader()
	section.product-header
		.container
			.row
				.col-10.text-center.offset-1
					h1.h1 Complete the Look
					p 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
					a.btn.btn-secondary.shadow(href="#") Book a Demo
					.tablet-container
					.row.row-cols-1.row-cols-md-2.row-cols-lg-3.counters
						.col.text-center.mb-5.mb-lg-0
							.h1.text-secondary(data-counter="30" data-suffix="" data-prefix="%")
							.h5 Revenue Increase
						.col.text-center.mb-5.mb-lg-0
							.h1.text-secondary(data-counter="16" data-suffix="" data-prefix="%")
							.h5 Increased CVR
						.col.text-center.mb-5.mb-lg-0
							.h1.text-secondary(data-counter="9" data-suffix="" data-prefix="%")
							.h5 Increased AOV
