mixin RenovaiCustomersSeeAdvancedResults()
	section.py-10.counter-section-rcsar
		.container
			h2.text-center.mb-9.h2 renovai customers see advanced results:
			.row.row-cols-1.row-cols-md-2.row-cols-lg-4
				.col.text-center.mb-5.mb-lg-0
					.text-large-data.text-secondary(data-counter="30") 30%
					.text-small-subtext Revenue Increase
				.col.text-center.mb-5.mb-lg-0
					.text-large-data.text-secondary(data-counter="16") 16%
					.text-small-subtext AOV Increase
				.col.text-center.mb-5.mb-lg-0
					.text-large-data.text-secondary(data-counter="16") 16%
					.text-small-subtext CVR Increase
				.col.text-center.mb-5.mb-lg-0
					.text-large-data.text-secondary(data-counter="9") 9%
					.text-small-subtext Engagement Increase
