mixin RenovaiCustomersSeeAdvancedResults()
	section.py-2.py-md-10.counter-section-rcsar.rcsar
		.container
			h2.text-center.mb-3.mb-md-9.h1 renovai customers see advanced results:
			.row.row-cols-1.row-cols-md-2.row-cols-lg-4.counters
				.col.text-center.mb-5.mb-lg-0
					.h1.text-secondary(data-counter="30") 30%
					.h5 Revenue Increase
				.col.text-center.mb-5.mb-lg-0
					.h1.text-secondary(data-counter="16") 16%
					.h5 AOV Increase
				.col.text-center.mb-5.mb-lg-0
					.h1.text-secondary(data-counter="16") 16%
					.h5 CVR Increase
				.col.text-center.mb-5.mb-lg-0
					.h1.text-secondary(data-counter="9") 9%
					.h5 Engagement Increase
