mixin RequestDemo()
	section.bg-request-demo
		.container
			.row.align-items-baseline
				.offset-1
				.col-5

				.col-5
					.d-flex.align-items-end
						img(src="images/request-demo-phone.png")
