mixin RequestDemo()
	section.bg-request-demo
		.container
			.row.align-items-start
				.offset-1
				.col-5.align-content-start
					.text-center
						p.text-title Request a Demo
						a.btn.btn-pink(href="#") Book a Demo
				.col-5.align-content-end
					img(src="images/request-demo-phone.png")
