mixin RequestDemo()
	section.bg-request-demo.d-flex
		.container.mt-auto
			.row.align-items-start
				.offset-1
				.col-12.col-lg-5.align-content-start
					.text-center.d-inline-block.mt-6
						p.text-title Request a Demo
						a.btn.btn-pink.btn-lg(href="#") Book a Demo
				.col-12.col-lg-5
					.text-right
						img.img-fluid(src="images/request-demo-phone.png" alt="" title="")
