mixin Reviews()
	section.reviews
		.container.text-center.mt-5.mt-md-6.mb-8.mb-md-9.pb-md-10
			h2.h-lg.h2.mb-2.mb-md-0.text-secondary Don’t just take our word for it
			.h5
				p See how our customers found rapid success using renovai’s solutions
	section.bg-reviews.reviews
		.container
			.row
				.col-10.offset-1.col-md-8.offset-md-2.col-xl-10.offset-xl-1
					.carousel.slide.carousel-reviews#carouselReviews(data-ride="carousel")
						.carousel-inner.text-white
							.carousel-item.active
								.text-center.position-relative.review-item.d-flex.flex-column.align-items-center.h-100
									.review-img.mb-2(style="background-image: url(images/review-item.jpg)")
									div
										img(src="images/temple-webster-logo.svg" alt="" title="" width="100")
									p
										b Adam McWhinney /
										span  Chief Experience Officer & Co Founder at Temple & Webster
									.text-review-content
										p “Adding renovai’s mood board to our product pages had an immediate impact to shopper engagement and overall spending! It enables up sells in a very intuitive non – pushy way as part of a great user experience.”
							.carousel-item
								.text-center.position-relative.review-item.d-flex.flex-column.align-items-center.h-100
									.review-img.mb-2(style="background-image: url(images/review-item.jpg)")
									p
										b Adam McWhinney /
										span  Chief Experience Officer & Co Founder at Temple & Webster
									.text-review-content
										p “Adding renovai’s mood board to our product pages had an immediate impact to shopper engagement and overall spending! It enables up sells in a very intuitive non – pushy way as part of a great user experience.”
						.carousel-control-prev(href="#carouselReviews" role="button" data-slide="prev")
							span.carousel-control-prev-icon
						.carousel-control-next(href="#carouselReviews" role="button" data-slide="next")
							span.carousel-control-next-icon
