mixin ShopInspireExperienceRepeat()
	section.bg-secondary.py-5.py-md-7.sier
		.container.text-center
			.row
				.col-12
					h1.h7.mb-2.text-white Shop. Inspire. Experience. Repeat.
				.col-10.offset-1.h5
					p To win shoppers’ hearts in the new era of customer experience, brands must empower them to discover and purchase products in the same way they live their lives — instant, intuitive, visual.
