mixin SliderNavy()
	section.pt-3.pt-md-5.pb-7.position-relative.bg-primary.slider-navy
		.container
			.row
				.col-12.col-xxl-8.offset-xxl-2
					.carousel.slide#carouselNavy(data-ride="false" data-interval="false" data-wrap="false")
						ol.carousel-indicators
							li.active(data-target="#carouselNavy" data-slide-to="0")
							li(data-target="#carouselNavy" data-slide-to="1")
							li(data-target="#carouselNavy" data-slide-to="2")
							li(data-target="#carouselNavy" data-slide-to="3")
							li(data-target="#carouselNavy" data-slide-to="4")
						.carousel-inner.text-white
							.carousel-item.active
								.row.text-center.text-md-left
									.col-12.order-1.order-md-0.mb-5.mb-md-0
										video.video-carousel.w-100
											source(src="video/personalized-complete-the-look.mp4")
									.col-10.order-0.order-md-1.offset-1.offset-md-0
										h4.h2.mb-3 Personalized Complete The Look
									.col-12.col-md-10.order-2
										.h5.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
										a.btn.btn-pink.btn-icon(href="#")
											span Explore
											i.i.i-sm.i-right-arrow
							.carousel-item
								img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
								.row
									.col-10
										h4.h2 Personalized Complete The Look
										.h5.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
										a.btn.btn-pink.btn-icon(href="#")
											span Explore
											i.i.i-sm.i-right-arrow
							.carousel-item
								img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
								.row
									.col-10
										h4.h4 Personalized Complete The Look
										.h5.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
										a.btn.btn-pink.btn-icon(href="#")
											span Explore
											i.i.i-sm.i-right-arrow
							.carousel-item
								img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
								.row
									.col-10
										h4.h2 Personalized Complete The Look
										.h5.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
										a.btn.btn-pink.btn-icon(href="#")
											span Explore
											i.i.i-sm.i-right-arrow
							.carousel-item
								img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
								.row
									.col-10
										h4.h2 Personalized Complete The Look
										.h5.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
										a.btn.btn-pink.btn-icon(href="#")
											span Explore
											i.i.i-sm.i-right-arrow
						.carousel-control-prev.d-none.d-md-flex(href="#carouselNavy" role="button" data-slide="prev")
							span.carousel-control-prev-icon
						.carousel-control-next.d-none.d-md-flex(href="#carouselNavy" role="button" data-slide="next")
							span.carousel-control-next-icon
