mixin SliderNavy()
	section.bg-navy.pt-5.pb-3.position-relative
		.container
			.carousel.slide#carouselNavy(data-ride="carousel")
				ol.carousel-indicators
					li.active(data-target="#carouselNavy" data-slide-to="0")
					li(data-target="#carouselNavy" data-slide-to="1")
					li(data-target="#carouselNavy" data-slide-to="2")
					li(data-target="#carouselNavy" data-slide-to="3")
					li(data-target="#carouselNavy" data-slide-to="4")
				.carousel-inner.text-white
					.carousel-item.active
						img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
						h4.h4 Personalized Complete The Look
						.text-light-subtext.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
						a.btn.btn-secondary.btn-icon(href="#")
							span Explore
							i.i.i-sm.i-right-arrow
					.carousel-item
						img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
						h4.h4 Personalized Complete The Look
						.text-light-subtext.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
						a.btn.btn-secondary.btn-icon(href="#")
							span Explore
							i.i.i-sm.i-right-arrow
					.carousel-item
						img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
						h4.h4 Personalized Complete The Look
						.text-light-subtext.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
						a.btn.btn-secondary.btn-icon(href="#")
							span Explore
							i.i.i-sm.i-right-arrow
					.carousel-item
						img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
						h4.h4 Personalized Complete The Look
						.text-light-subtext.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
						a.btn.btn-secondary.btn-icon(href="#")
							span Explore
							i.i.i-sm.i-right-arrow
					.carousel-item
						img.d-block.w-100.mb-2(src="images/comp-01.jpg" alt="" title="")
						h4.h4 Personalized Complete The Look
						.text-light-subtext.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
						a.btn.btn-secondary.btn-icon(href="#")
							span Explore
							i.i.i-sm.i-right-arrow
				.carousel-control-prev(href="#carouselNavy" role="button" data-slide="prev")
					span.carousel-control-prev-icon
				.carousel-control-next(href="#carouselNavy" role="button" data-slide="next")
					span.carousel-control-next-icon
