include ../molecules/tbcfyw-item-circle

mixin TheBestChoiceForYourWebsite()
	section.tbcfyw-section.pt-9.pb-10
		.container
			.h2.text-center.mb-9 The best choice for your website
			.row.row-cols-3
				+TbcfywItemCircle('easy', 'Compatible for all platforms', 'icon-easy.svg')
				+TbcfywItemCircle('Accurate', 'Backed by knowledge, not statistics', 'icon-accurate.svg')
				+TbcfywItemCircle('Holistic', 'Providing the required missing online context' ,'icon-holistic.svg')
				+TbcfywItemCircle('Innovative', 'Decentralizing professional secrets by leveraging AI' ,'icon-innovative.svg')
				+TbcfywItemCircle('Customizable', 'White label to match any brand guideline' ,'icon-customizable.svg')
				+TbcfywItemCircle('fast', 'Proven results within days' ,'icon-fast.svg')
